<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>短视频</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>PhoneLive</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>defalut-header-icon</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tencent101457338</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx760c6f0f98601c31</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>QQ060C1DBA</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wangminxingame</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.aosika.phonelive</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>19.7.31.3</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>Twitter</string>
		<string>wangminxingame</string>
		<string>sinaweibo</string>
		<string>sinaweibohd</string>
		<string>kakaokompassauth</string>
		<string>storykompassauth</string>
		<string>kakao48d3f524e4a636b08d81b3ceb50f1003</string>
		<string>kakaolink</string>
		<string>instagram</string>
		<string>pinit</string>
		<string>pocket-oauth-v1</string>
		<string>fbauth2</string>
		<string>rm226427com.mob.demoShareSDK</string>
		<string>renren</string>
		<string>renreniphone</string>
		<string>renrenios</string>
		<string>renrenapi</string>
		<string>mqzone</string>
		<string>mqq</string>
		<string>mqqapi</string>
		<string>wtloginmqq2</string>
		<string>mqqopensdkapiV3</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqOpensdkSSoLogin</string>
		<string>mqzoneopensdkapiV2</string>
		<string>mqzoneopensdkapi19</string>
		<string>mqzoneopensdkapi</string>
		<string>mqzoneopensdk</string>
		<string>alipayshare</string>
		<string>alipay</string>
		<string>yixinopenapi</string>
		<string>yixin</string>
		<string>wechat</string>
		<string>weixin</string>
		<string>tencentweiboSdkv2</string>
		<string>TencentWeibo</string>
		<string>weibosdk2.5</string>
		<string>weibosdk</string>
		<string>sinaweibohdsso</string>
		<string>sinaweibosso</string>
		<string>com.google.gppconsent.2.4.1</string>
		<string>com.google.gppconsent.2.4.0</string>
		<string>com.google.gppconsent.2.3.0</string>
		<string>com.google.gppconsent.2.2.0</string>
		<string>com.google.gppconsent</string>
		<string>hasgplus4</string>
		<string>googlechrome-x-callback</string>
		<string>googlechrome</string>
		<string>storylink</string>
		<string>alipayshare</string>
		<string>mqqwpa</string>
		<string>line</string>
		<string>whatsapp</string>
		<string>kakaolink</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MOBAppSecret</key>
	<string>a25b96f3f9903e1fe6567230925c99ed</string>
	<key>MOBAppkey</key>
	<string>23c8447501ea0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>短视频将访问您的摄像头，允许访问可以拍摄视频</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>总</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>短视频将访问您的位置，开启位置可以在上传视频的时候上传位置</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>短视频将访问您的麦克风，允许访问可以录制声音</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>短视频将访问你的相册</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>短视频将访问你的相册</string>
	<key>Privacy - Calendars Usage Description </key>
	<string>访问日历</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
